input[type="checkbox"], select { -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#leftcontent { box-sizing: border-box; overflow: auto; }
#entries {
	position: fixed;
	background: white;
	width: 20em;
	left: 12.5em;
	top: 6.7em;
	bottom: 0;
	overflow: auto;
	padding: 0;
	margin: 0;
}
#entries li { padding-left: 1.2em; }
#entries a { font-weight: bold; font-size: 1.2em; }
#entries img.shared { float: right; opacity: 0.4; }
#entries img.shared:hover { opacity: 1; }
#entries em { font-weight: normal; font-size: 1em; }
#metadata { position: fixed; background-color: #ccc; width: 20em; right: 0; top: 6.5em; bottom: 0; overflow: auto; padding: 1em; margin: 0; font-size: 1em; font-weight: bold; }
#controls :disabled { background-color: #f7f7f7; color: #ccc; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: default; }
#metadata :disabled.property { background-color: #ccc; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: default; }
#entry { position: fixed; background: #fff; top: 6.5em; bottom: 0; left: 32.5em !important; right: 22em;  padding: 1em; margin: 0; }
div.propertycontainer[data-type="DESCRIPTION"] { height: 90%; }
#description { width: 95%; height: 90%; }
.rte-content { position: absolute; left: 1em; right: 1em; top: 7em; bottom: 1em; overflow: auto; }
#summary { width: 95%; font-size: 1.4em; font-weight: bold; height: 1.6em; }
.editable,.content { display:inline-block; font-size: 1.2em; background-color: #fff !important; border: 1px solid #fff !important; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: text; }
.editable:hover,.editable:focus,.editable:hover:active { border: 1px solid #1d2d44 !important; }
#categories,#organizer,#location,#link { width: 18em; clear: right; }
#dtstartdate { width: 10em; }
#dtstarttime { width: 5em; }
.loading { background: url('%webroot%/core/img/loading.gif') no-repeat center !important; cursor: wait; }
.action { padding-left: 0.5em; }
label,dt { color: #aaa; }
label:hover, dt:hover { color: #333; }
.required { color: red; border: 3px solid red; }
input { font-size: 1em; font-weight: bold; }
#actions { float: right; padding-right: 1em; }
#actions a { display: inline-block; width: 16px; height: 16px; opacity: 0.5; padding: 0 0.3em; }
#actions a:hover { opacity: 1; }
.add { background:url('%webroot%/core/img/actions/add.svg') no-repeat center; clear: both; }
.delete { background:url('%webroot%/core/img/actions/delete.svg') no-repeat center; }
.edit { background:url('%webroot%/core/img/actions/rename.svg') no-repeat center; }
.share { background:url('%webroot%/core/img/actions/share.svg') no-repeat center; }
.mail { background:url('%webroot%/core/img/actions/mail.svg') no-repeat center; }
.upload { background:url('%webroot%/core/img/actions/upload.svg') no-repeat center; }
.download { background:url('%webroot%/core/img/actions/download.svg') no-repeat center; }
.cloud { background:url('%webroot%/core/img/places/picture.svg') no-repeat center; }
.globe { background:url('%webroot%/core/img/actions/public.svg') no-repeat center; }
.cog { background:url('%webroot%/core/img/actions/settings.svg') no-repeat center; width: 16px; height: 16px; position: absolute; right: 15em; padding: 0.5em; margin: 0.5em; }
.drop { margin-right: 0.5em !important; }
#settings_status { padding: 0.2em; font-weight: bold; float: left; border-radius: 3px; }
#firstrun {
    color: #777777;
    font-size: 1.5em;
    font-weight: bold;
    height: 20em;
    left: 50%;
    margin-left: -25em;
    margin-top: -10em;
    position: relative;
    text-align: center;
    top: 50%;
    width: 50em;
}