input[type="checkbox"], select { -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#leftcontent { position: relative; box-sizing: border-box; overflow: auto; }
#entries {
	position: relative;
	background-color: white;
	-moz-box-sizing:border-box; box-sizing:border-box;
	width: 100%;
	bottom: 0;
	overflow: auto;
	padding: 0;
	margin: 0;
}
#entries li { padding-left: 1.2em; }
#entries a { font-weight: bold; font-size: 1.2em; white-space: prewrap; }
#entries img.shared { float: right; opacity: 0.4; }
#entries img.shared:hover { opacity: 1; }
#entries em { font-weight: normal; font-size: 1em; }
#metadata { position: fixed; background-color: #ccc; width: 20em; right: 0; top: 6.5em; bottom: 0; overflow: auto; padding: 1em; margin: 0; font-size: 1em; font-weight: bold; }
#controls :disabled { background-color: #f7f7f7; color: #ccc; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: default; }
#metadata :disabled.property { background-color: #ccc; -webkit-appearance:none !important; -moz-appearance:none  !important; -webkit-box-sizing:none !important; -moz-box-sizing:none !important; box-sizing:none !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: default; }
#entry {
	position: fixed;
	top: 6.5em; bottom: 0; left: 25em !important; right: 22em;
	padding: 1em; margin: 0;
	background: #fff;
}
div.propertycontainer[data-type="DESCRIPTION"] { height: 90%; }
#description { width: 95%; height: 90%; }
.rte-content { position: absolute; left: 1em; right: 1em; top: 7em; bottom: 1em; overflow: auto; }
#summary { width: 95%; font-size: 1.4em; font-weight: bold; height: 1.6em; }
.editable,.content {
	display:inline-block; font-size: 1.2em; background-color: #fff !important; border: 1px solid #fff !important;
	-webkit-appearance:none !important; -moz-appearance:none  !important;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	cursor: text;
	opacity: 1;
}
.editable:hover,.editable:focus,.editable:hover:active { border: 1px solid #1d2d44 !important; }
#categories,#organizer,#location,#link { width: 18em; clear: right; }
#dtstartdate { width: 10em; }
#dtstarttime { width: 5em; }
.loading { background: url('%webroot%/core/img/loading.gif') no-repeat center !important; cursor: wait; }
.action { padding-left: 0.5em; }
label,dt { color: #aaa; }
label:hover, dt:hover { color: #333; }
.required { color: red; border: 3px solid red; }
input { font-size: 1em; font-weight: bold; }
#actions { float: right; padding-right: 1em; }
#actions a { display: inline-block; width: 16px; height: 16px; opacity: 0.5; padding: 0 0.3em; }
#actions a:hover { opacity: 1; }
.cog {
	float: right;
	height: 16px;
	padding: 10px;
	width: 16px;
}
.drop { margin-right: 0.5em !important; }
#settings_status { padding: 0.2em; font-weight: bold; float: left; border-radius: 3px; }
#firstrun {
	position: fixed;
	top: 6.5em; bottom: 0; left: 25em !important; right: 22em;
	padding: 1em; margin: 0;
	background: #fff;
    color: #777777;
    font-size: 1.5em;
    font-weight: bold;
    height: 20em;
    left: 50%;
    /*margin-left: -25em;
    margin-top: -10em;
    position: relative;
    text-align: center;
    top: 50%;
    width: 50em;*/
}